node_modules/
bundle/
*.zip
config/.env
cluster-info.json
node-override-temp.cfg
*.hcache
.DS_Store
client/*.bak
client/*.v2*
client/*.bak
client/*.v2*
client/*.save
client/*.save.*
patch_cm.py
config/cluster-nodes.json
config/hp-init.cfg
contract/authorized_pubkey.txt
contract/hp.cfg.override
contract/install.sh
contract/package-lock.json
client/cluster-manager.v1.js
client/cluster-manager.v2.js
